<div>
  <h1><%= @product.title %></h1>
  <h3><%= @product.url %></h3>
  <h5><%= @product.category.label %></h5>
  <p><%= @product.description %></p>
  <p>Release date: <%= @product.release_date %></p>
</div>
<div>
  <% if @product.reviews.count > 0 %>
    <% @product.reviews.each do |review| %>
      <%= review.content %>
      <%= review.vote %>
    <% end %>
  <% else %>
    <p class="comment">Aucun commentaire. Soyez le premier à donner votre avis</p>
  <% end %>
</div>
